#laugh {
  background-color: #fedc65;
}

#movie {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

#movie img {
  margin-right: 45px;
  width: 400px;
  height: 600px;
  object-fit: cover;
}
